<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jodi Trager Therapy</title>
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=WindSong:wght@400;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light py-3">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <img src="images/logo.svg" alt="Logo" class="navbar-logo img-fluid mt-3" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item mx-2">
              <a class="nav-link" href="index.html#about">About</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="support.html">Support</a>
            </li>
            <li class="nav-item mx-2"><a class="nav-link" href="#faq">FAQ</a></li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="mailto:Joditragertherapy@gmail.com">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- HERO SECTION -->
    <section class="p-3">
      <!-- First row: image + text -->
      <div class="row align-items-center">
        <div class="col-md-5 d-flex justify-content-center mb-4 mb-md-0">
          <img
            src="images/park-moms.jpg"
            class="img-fluid rounded shadow fade-in"
            alt="About Jodi Trager Therapy"
          />
        </div>

        <div
          class="col-md-7 d-flex flex-column justify-content-center mt-3 mt-md-0"
        >
          <h3 class="text-center w-75 mx-auto mb-4 fancy-font fs-1">
            Let’s face it, being a woman isn't easy but you don't have to navigate it alone...
          </h3>
          <a class="button btn btn-lg mt-3 align-self-center" href="mailto:Joditragertherapy@gmail.com"
            >Let's talk about it!</a
          >
        </div>
      </div>

      <!-- Second row: full-width heading -->
      <div class="row mt-4">
        <div class="col-12 d-flex justify-content-center">
          <h2>Challenges Women Face:</h2>
        </div>
      </div>
    </section>

    <section class="challenges-section py-5 text-center">
      <div class="container">
        <!-- <h2 class="mb-4">Challenges Women Face:</h2> -->
        <div class="d-flex flex-wrap justify-content-center gap-3">
          <span class="challenge-pill p-2">Fertility Challenges</span>
          <span class="challenge-pill p-2">Miscarriage and Pregnancy loss</span>
          <span class="challenge-pill p-2"
            >Pregnancy and Postpartum Mental Health</span
          >
          <span class="challenge-pill p-2"
            >Decision Fatigue and Mental Load</span
          >
          <span class="challenge-pill p-2">Anxiety and Overwhelm</span>
          <span class="challenge-pill p-2">Parenting Guilt and Pressure</span>
          <span class="challenge-pill p-2">Caregiving Beyond Parenting</span>
          <span class="challenge-pill p-2"
            >Parenting Challenges at Any Stage</span
          >
          <span class="challenge-pill p-2">Loneliness in Motherhood</span>
          <span class="challenge-pill p-2"
            >Marriage and Partnership Struggles</span
          >
          <span class="challenge-pill p-2"
            >Family and Relationship Tension</span
          >
          <span class="challenge-pill p-2">Sexual Health and Intimacy</span>
          <span class="challenge-pill p-2"
            >Perfectionism and People Pleasing</span
          >
          <span class="challenge-pill p-2"
            >ADHD (Diagnosed and Undiagnosed)</span
          >
          <span class="challenge-pill p-2">Empty Nesting</span>
          <span class="challenge-pill p-2">Depression and Mood Changes</span>
          <span class="challenge-pill p-2"
            >Burnout and Emotional Exhaustion</span
          >
          <span class="challenge-pill p-2">Body Image and Aging</span>
          <span class="challenge-pill p-2"
            >Friendship Struggles and Disconnection</span
          >
          <span class="challenge-pill p-2"
            >Life Transitions and Major Changes</span
          >
          <span class="challenge-pill p-2"
            >Shifts in Identity and Self-Worth</span
          >
          <span class="challenge-pill p-2">Grief and Loss</span>
          <span class="challenge-pill p-2">Career Shifts</span>
          <span class="challenge-pill p-2">Finding Purpose</span>
        </div>
      </div>
    </section>

    <!-- <section>
      class="text-center d-flex justify-content-around align-items-center py-2"
    >
      <h5 class="px-5">
        If you’re struggling with something that isn’t mentioned here, please
        don’t hesitate to reach out. I’d be glad to talk with you and see if
        it’s something I can help with.
      </h5>
    </section> -->

    <section
      class="flowers-img text-center d-flex justify-content-around align-items-center"
    >
      <div class="">
        <div class="">
          <h3 class="">
            “You can’t be everything to everyone and still be something to
            yourself.” — Jay Shetty
          </h3>
        </div>
      </div>
    </section>

    <section class="py-5 text-center support-section">
      <div class="container">
        <h2 class="mb-5">Areas of support for women:</h2>

        <div class="row g-4">
          <!-- Card 1 -->
          <div class="col-12 col-md-6 fade-in">
            <div class="support-card p-4 h-100">
              <img
                src="images/pregnant-depressed.jpeg"
                class="img-fluid mb-3 rounded card1"
                alt="Pregnancy and Pregnancy Loss"
              />
              <h5>Reproductive and Maternal Mental Health</h5>
              <p>
                Trying to conceive, coping with loss, or adjusting to pregnancy and postpartum can bring emotional highs and lows. 
                Therapy offers space to process fertility challenges, miscarriage, or pregnancy termination and to explore the complex mix of grief, joy, and change with compassion and without judgment.
              </p>
            </div>
          </div>

          <!-- Card 2 -->
          <div class="col-12 col-md-6 fade-in">
            <div class="support-card p-4 h-100">
              <img
                src="images/motherhood.jpg"
                class="img-fluid mb-3"
                alt="Midlife Transitions and Hormonal Health"
              />
              <h5>Motherhood and Caregiving</h5>
              <p>
                Motherhood transforms everything, your time, your relationships, and your sense of self. 
                Whether you’re adjusting to life with a new baby, navigating the ups and downs of parenting, or caring for aging parents, it’s easy to lose yourself along the way. 
                Together, we’ll help you find your footing and make space for yourself again..
              </p>
            </div>
          </div>

          <!-- Card 3 -->
          <div class="col-12 col-md-6 fade-in">
            <div class="support-card p-4 h-100">
              <img
                src="images/mental_emotional.jpg"
                class="img-fluid mb-3 rounded"
                alt="Relationships and Identity Shifts"
              />
              <h5>Mental and Emotional Wellness</h5>
              <p>
                When stress, burnout, or anxiety start to take over, it’s easy to lose your sense of self. 
                Maybe you’re running on empty, snapping more than you’d like, or just not feeling like you. 
                In therapy, we’ll slow things down, make sense of what’s happening, and help you feel more grounded and at ease.
              </p>
            </div>
          </div>

          <!-- Card 4 -->
          <div class="col-12 col-md-6 fade-in">
            <div class="support-card p-4 h-100">
              <img
                src="images/focus-challenges.jpg"
                class="img-fluid mb-3 rounded"
                alt="Marriage, Partnership, and Changing Dynamics"
              />
              <h5>Neurodiversity and Overwhelm</h5>
              <p>
                If you’ve wondered whether you might have ADHD, or if you’ve long felt scattered, distracted, or constantly behind, you’re not alone. 
                We’ll look at your patterns with curiosity and compassion, finding ways to work with your brain, not against it. 
                Together, we’ll create strategies that align with your strengths and bring greater calm and confidence.
              </p>
            </div>
          </div>

          <!-- Card 5 -->
          <div class="col-12 col-md-6 fade-in">
            <div class="support-card p-4 h-100">
              <img
                src="images/rings.jpeg"
                class="img-fluid mb-3 rounded"
                alt="Career and Life Transitions"
              />
              <h5>Relationships and Relational Support</h5>
              <p>
                Relationships can be complicated, even with the people we love most. 
                You might feel disconnected from your partner, family, or friends, or unsure how to express what you need. 
                In therapy, we’ll explore the patterns that create distance or tension and strengthen communication, boundaries, and connection with others and with yourself.
              </p>
            </div>
          </div>

          <!-- Card 6 -->
          <div class="col-12 col-md-6 fade-in">
            <div class="support-card p-4 h-100">
              <img
                src="images/grief-loss.jpg"
                class="img-fluid mb-3 rounded"
                alt="Grief and Loss"
              />
              <h5>Loss and Grief</h5>
              <p>
                Loss comes in many forms, a person, a relationship, a place, or even a version of yourself. 
                Sometimes the pain lingers because we’ve never had space to fully feel it. In therapy, you don’t have to hold it together. 
                We’ll make room for the sadness and help you begin to find meaning and healing.
              </p>
            </div>
          </div>

          <!-- Card 7 -->
          <div class="col-12 col-md-6 fade-in">
            <div class="support-card p-4 h-100">
              <img
                src="images/life-transitions.jpg"
                class="img-fluid mb-3 rounded"
                alt="Grief and Loss"
              />
              <h5>Life Transitions and Identity</h5>
              <p>
                Life has a way of shifting when you least expect it. 
                Marriage, divorce, career changes, or new chapters can leave you questioning who you are and what’s next. 
                Therapy offers a place to explore who you’re becoming and clarify what truly matters to you.
              </p>
            </div>
          </div>

          <!-- Card 8 -->
          <div class="col-12 col-md-6 center fade-in">
            <div class="support-card p-4 h-100">
              <img
                src="images/midlife.jpg"
                class="img-fluid mb-3 rounded"
                alt="Grief and Loss"
              />
              <h5>Midlife, Aging, and Purpose</h5>
              <p>
                Midlife can bring unexpected questions and change. 
                You might notice shifts in your body or hormones, feel restless in your routines, or wonder what’s next. 
                It’s natural to want something deeper. In therapy, we’ll explore what’s changing, reconnect with your purpose, and help you feel more centered and fulfilled.
              </p>
            </div>
          </div>
        </div>
      </section>

        <section class="maya text-center d-flex justify-content-around align-items-center py-2">
          <div>
            <h3 class="px-5">
                “There is no greater agony than bearing an untold story inside you.”
              -Maya Angelou
            </h3>
          </div>
        </section>

        <section class="FAQ challenges-section" id="faq">
          <div class="container pb-5">
            <div class="accordion" id="faqAccordion">
              <h2 class="text-center mb-4">Frequently Asked Questions</h2>

              <!-- FAQ Item 1 -->
              <div class="accordion-item">
                <h2 class="accordion-header" id="faqHeadingOne">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faqCollapseOne"
                    aria-expanded="false"
                    aria-controls="faqCollapseOne"
                  >
                    How do you conduct sessions?
                  </button>
                </h2>
                <div
                  id="faqCollapseOne"
                  class="accordion-collapse collapse"
                  aria-labelledby="faqHeadingOne"
                  data-bs-parent="#faqAccordion"
                >
                  <div class="accordion-body">
                    I offer teletherapy (video or phone) because it fits with
                    the realities of modern life, especially for women and
                    mothers. Whether you’re working, managing a household,
                    caring for kids, or juggling all of it, having the
                    flexibility to log in from wherever you are can make all the
                    difference. Many women tell me they were unsure about
                    teletherapy at first but ended up feeling just as seen and
                    supported as they would in person. Some even say they’re
                    more comfortable talking from their own space, whether
                    that’s a home office, a parked car, or while walking
                    outside. And yes, plenty of clients use their phones during
                    sessions whatever works. I also understand that life doesn’t
                    always fit neatly into a 45-50 minute session at a desk or
                    in a quiet space. Many of my clients join by phone while
                    taking a walk, hopping on the treadmill, sitting in their
                    car, or even with little ones in the background. I’m
                    flexible in how we work together, so you can get the support
                    you need without having to wait for “perfect” conditions. If
                    you’re not sure whether teletherapy is right for you, that’s
                    okay. We can talk about it and figure out what feels doable
                    and supportive for your life right now.
                  </div>
                </div>
              </div>

              <!-- FAQ Item 2 -->
              <div class="accordion-item">
                <h2 class="accordion-header" id="faqHeadingTwo">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faqCollapseTwo"
                    aria-expanded="false"
                    aria-controls="faqCollapseTwo"
                  >
                    Do You Accept Insurance?
                  </button>
                </h2>
                <div
                  id="faqCollapseTwo"
                  class="accordion-collapse collapse"
                  aria-labelledby="faqHeadingTwo"
                  data-bs-parent="#faqAccordion"
                >
                  <div class="accordion-body">
                    I’m an out-of-network provider, but I handle things a little
                    differently. I’ll check your benefits for you and let you
                    know up front whether using your insurance makes sense based
                    on what your plan actually covers. I don’t expect you to
                    figure out the claims process on your own. I take care of
                    that by submitting everything directly, which makes
                    reimbursement a lot easier. I know most people, especially
                    mothers, don’t have time to chase paperwork, and I want
                    therapy to feel like one less thing you have to manage.
                    Sometimes, depending on your plan, you may only need to pay
                    a portion up front, and I’ll wait for the rest to come in
                    from your insurance company. Every situation is different,
                    and if your plan doesn’t offer much, I’ll still walk you
                    through your options and help you make a plan.
                  </div>
                </div>
              </div>

              <!-- FAQ Item 3 -->
              <div class="accordion-item">
                <h2 class="accordion-header" id="faqHeadingThree">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faqCollapseThree"
                    aria-expanded="false"
                    aria-controls="faqCollapseThree"
                  >
                    What Is Your Therapy Style Like?
                  </button>
                </h2>
                <div
                  id="faqCollapseThree"
                  class="accordion-collapse collapse"
                  aria-labelledby="faqHeadingThree"
                  data-bs-parent ="#faqAccordion"
                >
                  <div class="accordion-body">
                    I’m not the kind of therapist who just nods and waits for
                    you to talk. I’m fully present and engaged in our
                    conversations, asking questions, getting curious, and really
                    trying to understand what’s going on beneath the surface. I
                    use a mix of approaches depending on what works for you,
                    including psychodynamic therapy, cognitive behavioral
                    therapy, dialectical behavioral therapy, and the teaching of
                    mindfulness. Once we get to know each other, I will tailor
                    our work to what will be most beneficial for you. We’ll talk
                    about your unique challenges, what’s worked (or hasn’t) in
                    past therapy, and decide together which strategies or
                    combination of approaches make the most sense moving
                    forward. It’s a collaborative process every step of the way.
                  </div>
                </div>
              </div>

              <!-- FAQ Item 4 -->
              <div class="accordion-item">
                <h2 class="accordion-header" id="faqHeadingFour">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faqCollapseFour"
                    aria-expanded="false"
                    aria-controls="faqCollapseFour"
                  >
                    How Long Are Sessions?
                  </button>
                </h2>
                <div
                  id="faqCollapseFour"
                  class="accordion-collapse collapse"
                  aria-labelledby="faqHeadingFour"
                  data-bs-parent="#faqAccordion"
                >
                  <div class="accordion-body">
                    After our first session, most sessions are between 45 and 50
                    minutes. That said, I’ll never cut you off mid-thought or
                    rush you out. We always take a few minutes to wrap up and
                    figure out what feels important to carry into the next week.
                    If you ever feel like the time goes too fast, we can talk
                    about ways to extend sessions or adjust things. It’s your
                    time, and I want it to feel like it’s working for you.
                  </div>
                </div>
              </div>

              <!-- FAQ Item 5 -->
              <div class="accordion-item">
                <h2 class="accordion-header" id="faqHeadingFive">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faqCollapseFive"
                    aria-expanded="false"
                    aria-controls="faqCollapseFive"
                  >
                    Do You Offer a Free Consultation?
                  </button>
                </h2>
                <div
                  id="faqCollapseFive"
                  class="accordion-collapse collapse"
                  aria-labelledby="faqHeadingFive"
                  data-bs-parent="#faqAccordion"
                >
                  <div class="accordion-body">
                    I don’t offer a full consultation session for free, but I’m
                    happy to do a short 15 minute phone call if you have
                    questions or you’re unsure about getting started. If we
                    decide to move forward, we’ll schedule a paid initial
                    session. There’s no pressure to commit to anything beyond
                    that it’s just a chance to see how it feels to talk and go
                    from there.
                  </div>
                </div>
              </div>

              <!-- FAQ Item 6 -->
              <div class="accordion-item">
                <h2 class="accordion-header" id="faqHeadingSix">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faqCollapseSix"
                    aria-expanded="false"
                    aria-controls="faqCollapseSix"
                  >
                    How Do We Get Started?
                  </button>
                </h2>
                <div
                  id="faqCollapseSix"
                  class="accordion-collapse collapse"
                  aria-labelledby="faqHeadingSix"
                  data-bs-parent="#faqAccordion"
                >
                  <div class="accordion-body">
                    If you’re ready to move forward, we’ll find a time that
                    works for both of us and get paperwork out of the way ahead
                    of time so that when we meet, it’s just about you not the
                    logistics. This first session is a chance to get to know
                    each other and see what it’s like to work together. You
                    don’t need to have anything perfectly figured out before we
                    start. Just come as you are, and we’ll take it from there.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- FOOTER -->
        <footer class="footer py-3">
          <div class="container">
            <div class="row align-items-center text-center text-md-start">
              <!-- Logo -->
              <div
                class="col-12 col-md-2 d-flex justify-content-center justify-content-md-start mb-3 mb-md-0"
              >
                <a href="index.html">
                  <img
                    src="images/logo.svg"
                    alt="Logo"
                    class="footer-logo img-fluid"
                  />
                </a>
              </div>

              <!-- Contact Info -->
              <div
                class="col-12 col-md-10 d-flex justify-content-center justify-content-md-center align-items-md-center"
              >
                <p class="mb-0">914-462-6842 | Joditragertherapy@gmail.com</p>
              </div>
            </div>
          </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="script.js"></script>
      </div>
    </section>
  </body>
</html>
